<tabset class="tabset" type="pills">
  <tab *ngFor="let snapshot of rates" [heading]="snapshot.published_at | date">
    <table class="table table-striped table-sm table-bordered mt-3">
      <thead>
        <tr>
          <th scope="col">Currency</th>
          <th scope="col">Rate</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rate of snapshot.rates">
          <td>{{ rate.currency }}</td>
          <td>{{ rate.rate }}</td>
        </tr>
      </tbody>
    </table>
  </tab>
</tabset>
  