<h1 class="m-5 text-center">Welcome to Exchange Rates app</h1>

<p class="text-center">
  <a [href]="getSocialRedirectUrl('google')" class="btn btn-danger">Login using Google</a>
  <a [href]="getSocialRedirectUrl('facebook')" class="btn btn-primary">Login using Facebook</a>
</p>
