<div class="text-center m-5">
  <p *ngIf="!hasErr" class="lead">
    Please wait...
  </p>
  
  <div *ngIf="hasErr">
    <alert type="danger">
      <strong>Oops!</strong> Could not authenticate.
    </alert>

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="'/login'">Return to login page</a>
      </li>
    </ul>
  </div>
</div>
